body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#game {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: red;
}
